#must replace it with real data and move this file as .env.example to .env


# Copy this file to `.env`
# Replace all placeholder values with your actual Azure OpenAI credentials

AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/

AZURE_OPENAI_API_KEY=your_azure_openai_api_key
#e.g
#AZURE_OPENAI_API_KEY=3T7zvSrzRp8NCwVMdjjhfAFRDImOpGdhjdhfjdZZu8W9aNC3js9YMmRlJQQJ99yrierijFXJ3w3A878ABACOGC4UG

AZURE_OPENAI_API_VERSION=2024-12-01-preview

# Chat model deployment name
AZURE_OPENAI_DEPLOYMENT=your_chat_deployment_name
#e.g.
#AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini

# Embedding model deployment name, this not model name
AZURE_OPENAI_DEPLOYMENT_EMBD=your_embedding_deployment_name
#e.g
#AZURE_OPENAI_DEPLOYMENT_EMBD=text-embedding-ada-002
